# requirements.txt

Flask==3.1.0
Flask-SocketIO==5.5.0
opencv-python==4.10.0.84
pillow==11.1.0
python-dotenv==1.0.1
requests==2.32.3
tensorboard==2.18.0
tensorflow==2.18.0
torch==2.5.1
torchvision==0.20.1
twilio==9.4.1
ultralytics==8.3.57
