<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nova Urban</title>
  <script
  type="text/javascript"
  src="{{ url_for('static', filename='js/scan.js') }}">
  </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}">
</head>
<body>
  <div class="container">
    <h1>Nova Urban</h1>
      <div class="btn-group">
      <button class="btn" id="start-cam-btn" onclick="run_cam()">Run App</button>
      <button class="btn" id="video-feed-btn" onclick="video_feed()">Send Notification</button>
    </div>
    </form> 
  </div>
</body>