<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>تنبيه المخاطر</title>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

</head>
<body>
  <div class="container">
    <h1>تنبيه المخاطر في الصور</h1>
      <div class="btn-group">
          <button class="btn" id="start-btn" type="submit" onclick="scan">تشغيل التطبيق</button>
      </div>
    </form> 
    <div class="status">تم تحميل التطبيق، اضغط على الزر لتشغيل المعالجة.</div>
    <div class="alert" id="alert"></div>
    <div id="loading">جاري معالجة الصور... يرجى الانتظار.</div>
  </div>
</body>